@page "/"
@using System.Globalization
@inherits LVK.Blazor.Components.LocalizableComponentBase

<PageTitle>@L["Title"]</PageTitle>

<h1>@L["Greeting"]</h1>

@L["Welcome"]

@if (CultureInfo.CurrentCulture.Name == "no")
{
    <p><button type="button" @onclick="SetEnglish">@L["SwitchToEnglish"]</button></p>
}
else
{
    <p><button type="button" @onclick="SetNorwegian">@L["SwitchToNorwegian"]</button></p>
}