@page "/weather"
@inherits LVK.Blazor.Components.LocalizableComponentBase

<PageTitle>@L["Title"]</PageTitle>

<h1>@L["Title"]</h1>

<p>@L["Description"]</p>

@if (forecasts == null)
{
    <p>
        <em>@L["Loading"]</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>@L["DateHeader"]</th>
            <th aria-label="@L["CelciusDescription"]">@L["CelciusHeader"]</th>
            <th aria-label="@L["FahrenheitDescription"]">@L["FahrenheitHeader"]</th>
            <th>@L["SummaryHeader"]</th>
        </tr>
        </thead>
        <tbody>
        @foreach (WeatherForecast forecast in forecasts)
        {
            <tr>
                <td>@forecast.Date.ToShortDateString()</td>
                <td>@forecast.TemperatureC</td>
                <td>@forecast.TemperatureF</td>
                <td>@forecast.Summary</td>
            </tr>
        }
        </tbody>
    </table>
}